.heart{
  margin: 100px;
  background-color: red;
  height: 200px;
  width: 200px;
  position: relative;
  transform: rotate(-45deg);  
}

.heart:before,
.heart:after{
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
}

.heart:before{
  top: -100px;
}

.heart:after{
  left: 100px;
}