.monster{
  margin: 100px;
  background-color: green;
  height: 200px;
  width: 190px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
}

.saia-monster1,
.saia-monster2,
.saia-monster3{
  top: 170px;
  content: "";
  background-color: green;
  border-radius: 50%;
  position: absolute;
  height: 50px;
  width: 50px;
}

.saia-monster2{
  left: 70px;
}

.saia-monster3{
  left: 140px;
}

.eye-monster-left,
.eye-monster-right{
  content: "";
  background-color: white;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.eye-monster-left{
  top: 70px;
  left: 40px;
}

.eye-monster-right{
  top: 70px;
  left: 100px;
}

.center-eye-monster{
  content: "";
  background-color: black;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 15px;
}